*.pyc
tags
/build
*.swp
/dist
/MANIFEST
/baa_messages.egg-info
/baa_messages_env
*.egg
/.idea
.DS_Store
.eggs
.python-version
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
